In [2]:
import numpy as np

In [3]:
import pandas as pd

In [10]:
a= np.array([1,2,3])
a=9/2
a
b=5.2/2
b
pdf= pd.Series(3,index=['a','b','c'])
pdf

a    3
b    3
c    3
dtype: int64

In [1]:
#importing package
import sys

In [46]:
print(sys.version)

3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

In [5]:
import platform

In [49]:
platform.python_version()

'3.7.1'

In [60]:
print('Hello World'); #this is Om Namah Shivay of programming

Hello World

In [51]:
1+1

2

In [11]:
1*3

3

In [57]:
7/2

3.5

In [56]:
type(3/2)

float

In [13]:
2**4

16

In [14]:
4%2

0

In [15]:
5%2

1

In [16]:
(2+3)*(5+5)

50

In [20]:
# variable naame can not start with number or special charater
name_of_var=2
name_of_var

2

In [21]:
x=2
y=3
z=x+y

In [22]:
z

5

In [24]:
type(z)

int

In [48]:
p=1.2
print(type(p))
p

<class 'float'>

1.2

In [28]:
q='Striing'
print(type(q))

<class 'str'>

In [29]:
'''
This 
is
multiline
comment
'''

'\nThis \nis\nmultiline\ncomment\n'

In [30]:
'single quotes'

'single quotes'

In [31]:
"double quotes"

'double quotes'

In [34]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

In [37]:
x='hello'
x

'hello'

In [38]:
print(x)

hello

In [39]:
num=12
name="Sam"

In [42]:
print("My number is {zero}, and my name is {one}".format(zero=num,one=name))

My number is 12, and my name is Sam

In [44]:
print("My number is {}, and my name is {}".format(num,name))

My number is 12, and my name is Sam

In [1]:
[1,2,3]

[1, 2, 3]

In [3]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [5]:
my_list=['a','b','c']
my_list

['a', 'b', 'c']

In [6]:
my_list[0]

'a'

In [7]:
my_list[1:]

['b', 'c']

In [15]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [16]:
my_list.remove('d')
my_list

['a', 'b', 'c']

In [17]:
my_list[:1]

['a']

In [19]:
my_list[0]='NEW'
my_list

['NEW', 'b', 'c']

In [21]:
nest=[1,2,3,[4,5,['target','source']]]
nest

[1, 2, 3, [4, 5, ['target', 'source']]]

In [22]:
nest[3][2]

['target', 'source']

In [25]:
dict={'key1':'item','key2':'item2'}
dict['key1']

'item'

In [26]:
true

NameError: name 'true' is not defined

In [27]:
True

True

In [28]:
FALSE

NameError: name 'FALSE' is not defined

In [29]:
False

False

In [30]:
num_x=None
num_x is None

True

In [31]:
num_y=1
num_y is None

False

In [32]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [33]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

In [34]:
mylist=[1,2,3,6]
mylist

[1, 2, 3, 6]

In [35]:
mylist[2]=10
mylist

[1, 2, 10, 6]

In [89]:
x={1,2,3}
x

{1, 2, 3}

In [90]:
x={1,2,3,1,2,3,3,2,1}
x

{1, 2, 3}

In [91]:
x={1,2,'p'}
x

{1, 2, 'p'}

In [94]:
x={3,4,[1,2,3],5}
x

TypeError: unhashable type: 'list'

In [98]:
'hi'=='bye'

False

In [101]:
(1>2)or(3<5)

True

In [77]:
if(1<2):
    print("Yep!")

Yep!

In [80]:
if(1>2):
    print("first");
else:
    print("before last");
    print("last");
print("close");

before last
last
close

In [85]:
if(1==2):
    print("first");
elif(3==3):
    print("middle");
else:
    print("last");

middle

In [102]:
seq=[1,2,3,4,5]
for s in seq:
    print(s);

1
2
3
4
5

In [109]:
data=[1,2,3]
resultlist=[]
sum=0;
for d in data:
    resultlist.append(d*d);
    sum+=d;
print(resultlist);
print(sum);

[1, 4, 9]
6

In [111]:
i=1;
while(i<5):
    print(i);
    i=i+1;
print("End");

1
2
3
4
End

In [112]:
range(0,5)

range(0, 5)

In [115]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [117]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [119]:
[item**2 for item in [1,2,3,4]]

[1, 4, 9, 16]

In [83]:
def my_func(param1='default'):
    '''
        DocString goes here
    '''
    print(param1)
my_func

In [70]:
my_func()

default

In [71]:
my_func('New Value')

New value

In [74]:
my_func(param1='New Value')

New Value

In [76]:
def test():
    a=10
    b=20
    c=30
print(test()) #default return None

None

In [120]:
sq=lambda var: var*2
sq(2)

4

In [43]:
st="Hello my name is #Sam"
print(st.lower()+"\n"+st.upper())

hello my name is #sam
HELLO MY NAME IS #SAM

In [44]:
st.split()

['Hello', 'my', 'name', 'is', '#Sam']

In [48]:
st.split('#')

['Hello my name is ', 'Sam']

In [49]:
dict={'key1':'item1','key2':'item2'}
dict.keys()

dict_keys(['key1', 'key2'])

In [50]:
dict.values()

dict_values(['item1', 'item2'])

In [51]:
dict.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [52]:
print(dict.items())

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [60]:
lst=[1,2,3]
lst

[1, 2, 3]

In [61]:
lst.pop(0) #lst.pop() will pop and return the last element

1

In [62]:
lst

[2, 3]

In [64]:
'x' in [1,2,3]

False

In [65]:
'x' in ['x','y','z']

True